<form>
  <h5>{{nomeGrupo}}</h5>
  <main>
    <section class="background">
      <article id="jogo1" class="jogo">
        <div class="time01">
          <img src="{{iconPais1}}">
          <span>{{nomePais1}}</span>
          <input type="number" class="form-control placar" style="float: right;" name="placarPais1" min="0" [(ngModel)]="jogo1.placar1"
          (ngModelChange)="partida1()">
        </div>
        <img class="x" src="/assets/images/x.png" alt="X">
        <div class="time02">
          <input type="number" class="form-control placar" name="placarPais2" min="0" [(ngModel)]="jogo1.placar2"
          (ngModelChange)="partida1()">
          <span>{{nomePais2}}</span>
          <img src="{{iconPais2}}" style="float: right;">
        </div>
      </article>
      <!-- JOGO 2 -->
      <article id="jogo2" class="jogo">
        <div class="time01">
          <img src="{{iconPais3}}">
          <span>{{nomePais3}}</span>
          <input type="number" class="form-control placar" style="float: right;" name="placarPais3" min="0" [(ngModel)]="jogo2.placar1"
          (ngModelChange)="partida2()">
        </div>
        <img class="x" src="/assets/images/x.png" alt="X">
        <div class="time02">
          <input type="number" class="form-control placar" name="placarPais4" min="0" [(ngModel)]="jogo2.placar2"
          (ngModelChange)="partida2()">
          <span>{{nomePais4}}</span>
          <img src="{{iconPais4}}" style="float: right;">
        </div>
      </article>
      <!-- JOGO 3 -->
      <article id="jogo3" class="jogo">
        <div class="time01">
          <img src="{{iconPais1}}">
          <span>{{nomePais1}}</span>
          <input type="number" style="float: right;" class="form-control placar" name="placarPais1" min="0" [(ngModel)]="jogo3.placar1"
          (ngModelChange)="partida3()">
        </div>
        <img class="x" src="/assets/images/x.png" alt="X">
        <div class="time02">
          <input type="number" class="form-control placar" name="placarPais3" min="0" [(ngModel)]="jogo3.placar2"
          (ngModelChange)="partida3()">
          <span>{{nomePais3}}</span>
          <img src="{{iconPais3}}" style="float: right;">
        </div>
      </article>
      <!-- JOGO 4 -->
      <article id="jogo4" class="jogo">
        <div class="time01">
          <img src="{{iconPais4}}">
          <span>{{nomePais4}}</span>
          <input type="number" style="float: right;" class="form-control placar" name="placarPais4" min="0" [(ngModel)]="jogo4.placar1"
          (ngModelChange)="partida4()">
        </div>
        <img class="x" src="/assets/images/x.png" alt="X">
        <div class="time02">
          <input type="number" class="form-control placar" name="placarPais2" min="0" [(ngModel)]="jogo4.placar2"
          (ngModelChange)="partida4()">
          <span>{{nomePais2}}</span>
          <img src="{{iconPais2}}" style="float: right;">
        </div>
      </article>
      <!-- JOGO 5 -->
      <article id="jogo5" class="jogo">
        <div class="time01">
          <img src="{{iconPais4}}">
          <span>{{nomePais4}}</span>
          <input type="number" style="float: right;" class="form-control placar" name="placarPais4" min="0" [(ngModel)]="jogo5.placar1"
          (ngModelChange)="partida5()">
        </div>
        <img class="x" src="/assets/images/x.png" alt="X">
        <div class="time02">
          <input type="number" class="form-control placar" name="placarPais1" min="0" [(ngModel)]="jogo5.placar2"
          (ngModelChange)="partida5()">
          <span>{{nomePais1}}</span>
          <img src="{{iconPais1}}" style="float: right;">
        </div>
      </article>
      <!-- JOGO 6 -->
      <article id="jogo6" class="jogo">
        <div class="time01">
          <img src="{{iconPais2}}">
          <span>{{nomePais2}}</span>
          <input type="number" style="float: right;" class="form-control placar" name="placarPais2" min="0" [(ngModel)]="jogo6.placar1"
          (ngModelChange)="partida6()">
        </div>
        <img class="x" src="/assets/images/x.png" alt="X">
        <div class="time02">
          <input type="number" class="form-control placar" name="placarPais3" min="0" [(ngModel)]="jogo6.placar2"
          (ngModelChange)="partida6()">
          <span>{{nomePais3}}</span>
          <img src="{{iconPais3}}" style="float: right;">
        </div>
      </article>
    </section>
    <section>
      <table class="table table-bordered">
        <thead>
          <tr class="table-secondary">
            <th scope="col" colspan="2">Classificação</th>
            <th scope="col">P</th>
            <!-- <th scope="col">J</th> -->
            <th scope="col">V</th>
            <th scope="col">E</th>
            <th scope="col">D</th>
            <th scope="col">GP</th>
            <th scope="col">GC</th>
            <th scope="col">SG</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-success">
            <th scope="row">1</th>
            <th>{{primeiro.Nome}}</th>
            <th>{{primeiro.Pontos}}</th>
            <!-- <th>3</th> -->
            <th>{{primeiro.Vitorias}}</th>
            <th>{{primeiro.Empates}}</th>
            <th>{{primeiro.Derrotas}}</th>
            <th>{{primeiro.GP}}</th>
            <th>{{primeiro.GC}}</th>
            <th>{{primeiro.SG}}</th>
          </tr>
          <tr class="table-success">
            <th scope="row">2</th>
            <th>{{segundo.Nome}}</th>
            <th>{{segundo.Pontos}}</th>
            <!-- <th>3</th> -->
            <th>{{segundo.Vitorias}}</th>
            <th>{{segundo.Empates}}</th>
            <th>{{segundo.Derrotas}}</th>
            <th>{{segundo.GP}}</th>
            <th>{{segundo.GC}}</th>
            <th>{{segundo.SG}}</th>
          </tr>
          <tr>
            <th scope="row">3</th>
            <th>{{terceiro.Nome}}</th>
            <th>{{terceiro.Pontos}}</th>
            <!-- <th>3</th> -->
            <th>{{terceiro.Vitorias}}</th>
            <th>{{terceiro.Empates}}</th>
            <th>{{terceiro.Derrotas}}</th>
            <th>{{terceiro.GP}}</th>
            <th>{{terceiro.GC}}</th>
            <th>{{terceiro.SG}}</th>
          </tr>
          <tr>
            <th scope="row">4</th>
            <th>{{quarto.Nome}}</th>
            <th>{{quarto.Pontos}}</th>
            <!-- <th>3</th> -->
            <th>{{quarto.Vitorias}}</th>
            <th>{{quarto.Empates}}</th>
            <th>{{quarto.Derrotas}}</th>
            <th>{{quarto.GP}}</th>
            <th>{{quarto.GC}}</th>
            <th>{{quarto.SG}}</th>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
</form>