<form>
  <div class="row form-group col-12" style="margin:0%; padding: 0%">
    <div class="col-5 background" style="margin-left: 3.5%;">
      <div id="jogo01" class="jogo">
        <div class="time01 col-5">
          <img src="/assets/icons65/Russia.png">
          <span>Rússia</span>
          <input type="number" class="form-control placar" style="float: right;" name="placarRussia" min="0" value="">
        </div>
        <img class="x col-2" src="/assets/images/x.png" alt="X" width="15%">
        <div class="time02 col-5">
          <input type="number" class="form-control placar" name="placarArabia" min="0" value="">
          <span>Arábia Saudita</span>
          <img src="/assets/icons65/ArabiaSaudita.png" style="float: right;">
        </div>
      </div>
      <div id="jogo02" class="jogo">
        <div class="time01 col-5">
          <img src="/assets/icons65/Egito.png">
          <span>Egito</span>
          <input type="number" class="form-control placar" style="float: right;" name="placarRussia" min="0" value="">
        </div>
        <img class="x col-2" src="/assets/images/x.png" alt="X" width="15%">
        <div class="time02 col-5">
          <input type="number" class="form-control placar" name="placarRussia" min="0" value="">
          <span>Uruguai</span>
          <img src="/assets/icons65/Uruguai.png" style="float: right;">
        </div>
      </div>
      <div id="jogo03" class="jogo">
        <div class="time01 col-5">
          <img src="/assets/icons65/Russia.png">
          <span>Rússia</span>
          <input type="number" style="float: right;" class="form-control placar" name="placarRussia" min="0" value="">
        </div>
        <img class="x col-2" src="/assets/images/x.png" alt="X" width="15%">
        <div class="time02 col-5">
          <input type="number" class="form-control placar" name="placarRussia" min="0" value="">
          <span>Egito</span>
          <img src="/assets/icons65/Egito.png" style="float: right;">
        </div>
      </div>
      <div id="jogo04" class="jogo">
        <div class="time01 col-5">
          <img src="/assets/icons65/Uruguai.png">
          <span>Uruguai</span>
          <input type="number" style="float: right;" class="form-control placar" name="placarRussia" min="0" value="">
        </div>
        <img class="x col-2" src="/assets/images/x.png" alt="X" width="15%">
        <div class="time02 col-5">
          <input type="number" class="form-control placar" name="placarRussia" min="0" value="">
          <span>Arábia Saudita</span>
          <img src="/assets/icons65/ArabiaSaudita.png" style="float: right;">
        </div>
      </div>
      <div id="jogo05" class="jogo">
        <div class="time01 col-5">
          <img src="/assets/icons65/Uruguai.png">
          <span>Uruguai</span>
          <input type="number" style="float: right;" class="form-control placar" name="placarRussia" min="0" value="">
        </div>
        <img class="x col-2" src="/assets/images/x.png" alt="X" width="15%">
        <div class="time02 col-5">
          <input type="number" class="form-control placar" name="placarRussia" min="0" value="">
          <span>Rússia</span>
          <img src="/assets/icons65/Russia.png" style="float: right;">
        </div>
      </div>
      <div id="jogo06" class="jogo">
        <div class="time01 col-5">
          <img src="/assets/icons65/ArabiaSaudita.png">
          <span>Arábia Saudita</span>
          <input type="number" style="float: right;" class="form-control placar" name="placarRussia" min="0" value="">
        </div>
        <img class="x col-2" src="/assets/images/x.png" alt="X" width="15%">
        <div class="time02 col-5">
          <input type="number" class="form-control placar" name="placarRussia" min="0" value="">
          <span>Egito</span>
          <img src="/assets/icons65/Egito.png" style="float: right;">
        </div>
      </div>
    </div>
    <!-- <div class="col-1"></div> -->
    <div class="col-6 background">
    </div>
  </div>
</form>