.background{
    background-color: #cfd1d1;
    border-radius: 7px;
}

.placar{
    width: 5vw
}

input {
    display: inline-block;
    text-align: center;
}

.x{
    justify-self: center;
}

img{
    width: 40px;
}

.jogo{
    display: grid;
    grid-template-columns: repeat(7, 1fr);    
}

.time01{
    grid-column-start: 1;
    grid-column-end: 4;
} 

.time02{
    grid-column-start: 5;
    grid-column-end: 8;   
}

input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h5{
    margin-left: 1.5%;
    margin-right: 91%;
    color: black;
    margin-top: 1%;
    margin-bottom: 0%;
    background-color: #cfd1d1;
    border-radius: 7px;

}

table{
    background-color: white;
    margin-top: 2.5%;
    /* height: 98%; */
    width: 95%;
    margin-left: 2.5%;
}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    justify-content: space-between;
    grid-gap: 2%;
}

.item-a{
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-rows: 6;
}

.item-b{
    grid-column-start: 7;
    grid-column-end:13;
    grid-row: auto;
    align-content: center;
}