.background{
    background-color: #cfd1d1;
    border-radius: 7px;
    margin: 10px;
}

.placar{
    width: 25%;
    margin-top: 5%;
}

input {
    display: inline-block;
}

span{
    padding: 3%;
}

.x{
    /* padding-right: 4%; */
    padding-left: 2%;
    margin-left: 1%;
    width: 14%;
}

.jogo{
    /* display: inline-block; */
}

.time01{
    float: left;
} 

.time02{
    float: right;
}