<!-- <div>
  <div class="row">
      <img src="../../../assets/icons65/Russia.png" alt="alt">
      <span>Russia</span>
  </div>
</div> -->

<div class="input-group mb-3">
  <div class="input-group-prepend">
      <span class="input-group-addon">
          <img src="/assets/icons65/Russia.png">
      </span>
    <span class="input-group-text">Russia</span>
  </div>
  <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
  <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
  <div class="input-group-append">
    <span class="input-group-text">.00</span>
  </div>
</div>