<form action="">
  <div class="container">
    <section class="item-a">
      <article class="jogo1">
        <div class="">
          <div class="list-group-item list-group-item-action">
            <img src="{{iconPrimeiroA}}">
            <span>{{nomePrimeiroA}}</span>
          </div>
          <li class="list-group-item list-group-item-action">
            <img src="{{iconSegundoB}}">
            <span>{{nomeSegundoB}}</span>
          </li>
        </div>
      </article>
      <article class="jogo2">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">
            <img src="{{iconPrimeiroC}}">
            <span>{{nomePrimeiroC}}</span>
          </li>
          <li class="list-group-item list-group-item-action">
            <img src="{{iconSegundoD}}">
            <span>{{nomeSegundoD}}</span>
          </li>
        </ul>
      </article>
      <article class="jogo3">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">
            <img src="{{iconPrimeiroE}}">
            <span>{{nomePrimeiroE}}</span>
          </li>
          <li class="list-group-item list-group-item-action">
            <img src="{{iconSegundoF}}">
            <span>{{nomeSegundoF}}</span>
          </li>
        </ul>
      </article>
      <article class="jogo4">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">
            <img src="{{iconPrimeiroG}}">
            <span>{{nomePrimeiroG}}</span>
          </li>
          <li class="list-group-item list-group-item-action">
            <img src="{{iconSegundoH}}">
            <span>{{nomeSegundoH}}</span>
          </li>
        </ul>
      </article>
      <article class="jogo5">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">
            <img src="{{iconPrimeiroB}}">
            <span>{{nomePrimeiroB}}</span>
          </li>
          <li class="list-group-item list-group-item-action">
            <img src="{{iconSegundoA}}">
            <span>{{nomeSegundoA}}</span>
          </li>
        </ul>
      </article>
      <article class="jogo6">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">
            <img src="{{iconPrimeiroD}}">
            <span>{{nomePrimeiroD}}</span>
          </li>
          <li class="list-group-item list-group-item-action">
            <img src="{{iconSegundoC}}">
            <span>{{nomeSegundoC}}</span>
          </li>
        </ul>
      </article>
      <article class="jogo7">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">
            <img src="{{iconPrimeiroF}}">
            <span>{{nomePrimeiroF}}</span>
          </li>
          <li class="list-group-item list-group-item-action">
            <img src="{{iconSegundoE}}">
            <span>{{nomeSegundoE}}</span>
          </li>
        </ul>
      </article>
      <article class="jogo8">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">
            <img src="{{iconPrimeiroH}}">
            <span>{{nomePrimeiroH}}</span>
          </li>
          <li class="list-group-item list-group-item-action">
            <img src="{{iconSegundoG}}">
            <span>{{nomeSegundoG}}</span>
          </li>
        </ul>
      </article>
    </section>
    <section class="item-b">
      <article class="jogo9">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">
            <img src="{{iconPrimeiroH}}">
            <span>{{nomePrimeiroH}}</span>
          </li>
          <li class="list-group-item list-group-item-action">
            <img src="{{iconSegundoG}}">
            <span>{{nomeSegundoG}}</span>
          </li>
        </ul>
      </article>
      <article class="jogo10">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">
            <img src="{{iconPrimeiroH}}">
            <span>{{nomePrimeiroH}}</span>
          </li>
          <li class="list-group-item list-group-item-action">
            <img src="{{iconSegundoG}}">
            <span>{{nomeSegundoG}}</span>
          </li>
        </ul>
      </article>
      <article class="jogo11">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">
            <img src="{{iconPrimeiroH}}">
            <span>{{nomePrimeiroH}}</span>
          </li>
          <li class="list-group-item list-group-item-action">
            <img src="{{iconSegundoG}}">
            <span>{{nomeSegundoG}}</span>
          </li>
        </ul>
      </article>
      <article class="jogo12">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">
            <img src="{{iconPrimeiroH}}">
            <span>{{nomePrimeiroH}}</span>
          </li>
          <li class="list-group-item list-group-item-action">
            <img src="{{iconSegundoG}}">
            <span>{{nomeSegundoG}}</span>
          </li>
        </ul>
      </article>
    </section>
    <section class="item-c">
      <article class="jogo13">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">
            <img src="{{iconPrimeiroH}}">
            <span>{{nomePrimeiroH}}</span>
          </li>
          <li class="list-group-item list-group-item-action">
            <img src="{{iconSegundoG}}">
            <span>{{nomeSegundoG}}</span>
          </li>
        </ul>
      </article>
      <article class="jogo14">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">
            <img src="{{iconPrimeiroH}}">
            <span>{{nomePrimeiroH}}</span>
          </li>
          <li class="list-group-item list-group-item-action">
            <img src="{{iconSegundoG}}">
            <span>{{nomeSegundoG}}</span>
          </li>
        </ul>
      </article>
    </section>
    <section class="item-d">
      <article class="jogo15">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">
            <img src="{{iconPrimeiroH}}">
            <span>{{nomePrimeiroH}}</span>
          </li>
          <li class="list-group-item list-group-item-action">
            <img src="{{iconSegundoG}}">
            <span>{{nomeSegundoG}}</span>
          </li>
        </ul>
      </article>
    </section>
  </div>
</form>