<form action="">
  <div class="container">
    <section class="item-a">
      <article class="jogo1">
        <div class="">
          <li class="list-group-item list-group-item-action" id="primeiroA" 
              (click)="vencedorJogo1('primeiroA', 'segundoB', iconPrimeiroA, nomePrimeiroA)">
            <img src="{{iconPrimeiroA}}">
            <span>{{nomePrimeiroA}}</span>
          </li>
          <li class="list-group-item list-group-item-action" id="segundoB" 
              (click)="vencedorJogo1('segundoB', 'primeiroA', iconSegundoB, nomeSegundoB)">
            <img src="{{iconSegundoB}}">
            <span>{{nomeSegundoB}}</span>
          </li>
        </div>
      </article>
      <article class="jogo2">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action" id="primeiroC"
              (click)="vencedorJogo2('primeiroC', 'segundoD', iconPrimeiroC, nomePrimeiroC)">
            <img src="{{iconPrimeiroC}}">
            <span>{{nomePrimeiroC}}</span>
          </li>
          <li class="list-group-item list-group-item-action" id="segundoD"
              (click)="vencedorJogo2('segundoD', 'primeiroC', iconSegundoD, nomeSegundoD)">
            <img src="{{iconSegundoD}}">
            <span>{{nomeSegundoD}}</span>
          </li>
        </ul>
      </article>
      <article class="jogo3">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action" id="primeiroE"
              (click)="vencedorJogo3('primeiroE', 'segundoF', iconPrimeiroE, nomePrimeiroE)">
            <img src="{{iconPrimeiroE}}">
            <span>{{nomePrimeiroE}}</span>
          </li>
          <li class="list-group-item list-group-item-action" id="segundoF"
              (click)="vencedorJogo3('segundoF', 'primeiroE', iconSegundoF, nomeSegundoF)">
            <img src="{{iconSegundoF}}">
            <span>{{nomeSegundoF}}</span>
          </li>
        </ul>
      </article>
      <article class="jogo4">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action" id="primeiroG"
              (click)="vencedorJogo4('primeiroG', 'segundoH', iconPrimeiroG, nomePrimeiroG)">
            <img src="{{iconPrimeiroG}}">
            <span>{{nomePrimeiroG}}</span>
          </li>
          <li class="list-group-item list-group-item-action" id="segundoH"
              (click)="vencedorJogo4('segundoH', 'primeiroG', iconSegundoH, nomeSegundoH)">
            <img src="{{iconSegundoH}}">
            <span>{{nomeSegundoH}}</span>
          </li>
        </ul>
      </article>
      <article class="jogo5">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action" id="primeiroB"
              (click)="vencedorJogo5('primeiroB', 'segundoA', iconPrimeiroB, nomePrimeiroB)">
            <img src="{{iconPrimeiroB}}">
            <span>{{nomePrimeiroB}}</span>
          </li>
          <li class="list-group-item list-group-item-action" id="segundoA"
              (click)="vencedorJogo5('segundoA', 'primeiroB', iconSegundoA, nomeSegundoA)">
            <img src="{{iconSegundoA}}">
            <span>{{nomeSegundoA}}</span>
          </li>
        </ul>
      </article>
      <article class="jogo6">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action" id="primeiroD"
              (click)="vencedorJogo6('primeiroD', 'segundoC', iconPrimeiroD, nomePrimeiroD)">
            <img src="{{iconPrimeiroD}}">
            <span>{{nomePrimeiroD}}</span>
          </li>
          <li class="list-group-item list-group-item-action" id="segundoC"
              (click)="vencedorJogo6('segundoC', 'primeiroD', iconSegundoC, nomeSegundoC)">
            <img src="{{iconSegundoC}}">
            <span>{{nomeSegundoC}}</span>
          </li>
        </ul>
      </article>
      <article class="jogo7">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action" id="primeiroF"
              (click)="vencedorJogo7('primeiroF', 'segundoE', iconPrimeiroF, nomePrimeiroF)">
            <img src="{{iconPrimeiroF}}">
            <span>{{nomePrimeiroF}}</span>
          </li>
          <li class="list-group-item list-group-item-action" id="segundoE"
              (click)="vencedorJogo7('segundoE', 'primeiroF', iconSegundoE, nomeSegundoE)">
            <img src="{{iconSegundoE}}">
            <span>{{nomeSegundoE}}</span>
          </li>
        </ul>
      </article>
      <article class="jogo8">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action" id="primeiroH"
              (click)="vencedorJogo8('primeiroH', 'segundoG', iconPrimeiroH, nomePrimeiroH)">
            <img src="{{iconPrimeiroH}}">
            <span>{{nomePrimeiroH}}</span>
          </li>
          <li class="list-group-item list-group-item-action" id="segundoG"
              (click)="vencedorJogo8('segundoG', 'primeiroH', iconSegundoG, nomeSegundoG)">
            <img src="{{iconSegundoG}}">
            <span>{{nomeSegundoG}}</span>
          </li>
        </ul>
      </article>
    </section>
    <section class="item-b">
      <article class="jogo9">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action padding-null-item" id="vencedorJogo1"
              (click)="vencedorJogo9('vencedorJogo1', 'vencedorJogo2', iconVencedor1, nomeVencedor1)">
            <img src="{{iconVencedor1}}">
            <span>{{nomeVencedor1}}</span>
          </li>
          <li class="list-group-item list-group-item-action padding-null-item" id="vencedorJogo2"
              (click)="vencedorJogo9('vencedorJogo2', 'vencedorJogo1', iconVencedor2, nomeVencedor2)">
            <img src="{{iconVencedor2}}">
            <span>{{nomeVencedor2}}</span>
          </li>
        </ul>
      </article>
      <article class="jogo10">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action padding-null-item" id="vencedorJogo3"
              (click)="vencedorJogo10('vencedorJogo3', 'vencedorJogo4', iconVencedor3, nomeVencedor3)">
            <img src="{{iconVencedor3}}">
            <span>{{nomeVencedor3}}</span>
          </li>
          <li class="list-group-item list-group-item-action padding-null-item" id="vencedorJogo4"
              (click)="vencedorJogo10('vencedorJogo4', 'vencedorJogo3', iconVencedor4, nomeVencedor4)">
            <img src="{{iconVencedor4}}">
            <span>{{nomeVencedor4}}</span>
          </li>
        </ul>
      </article>
      <article class="jogo11">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action padding-null-item" id="vencedorJogo5"
              (click)="vencedorJogo11('vencedorJogo5', 'vencedorJogo6', iconVencedor5, nomeVencedor5)">
            <img src="{{iconVencedor5}}">
            <span>{{nomeVencedor5}}</span>
          </li>
          <li class="list-group-item list-group-item-action padding-null-item" id="vencedorJogo6"
              (click)="vencedorJogo11('vencedorJogo6', 'vencedorJogo5', iconVencedor6, nomeVencedor6)">
            <img src="{{iconVencedor6}}">
            <span>{{nomeVencedor6}}</span>
          </li>
        </ul>
      </article>
      <article class="jogo12">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action padding-null-item" id="vencedorJogo7"
              (click)="vencedorJogo12('vencedorJogo7', 'vencedorJogo8', iconVencedor7, nomeVencedor7)">
            <img src="{{iconVencedor7}}">
            <span>{{nomeVencedor7}}</span>
          </li>
          <li class="list-group-item list-group-item-action padding-null-item" id="vencedorJogo8"
              (click)="vencedorJogo12('vencedorJogo8', 'vencedorJogo7', iconVencedor8, nomeVencedor8)">
            <img src="{{iconVencedor8}}">
            <span>{{nomeVencedor8}}</span>
          </li>
        </ul>
      </article>
    </section>
    <section class="item-c">
      <article class="jogo13">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action padding-null-item" id="vencedorJogo9"
              (click)="vencedorJogo13('vencedorJogo9', 'vencedorJogo10', iconVencedor9, nomeVencedor9)">
            <img src="{{iconVencedor9}}">
            <span>{{nomeVencedor9}}</span>
          </li>
          <li class="list-group-item list-group-item-action padding-null-item" id="vencedorJogo10"
              (click)="vencedorJogo13('vencedorJogo10', 'vencedorJogo9', iconVencedor10, nomeVencedor10)">
            <img src="{{iconVencedor10}}">
            <span>{{nomeVencedor10}}</span>
          </li>
        </ul>
      </article>
      <article class="jogo14">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action padding-null-item" id="vencedorJogo11"
              (click)="vencedorJogo14('vencedorJogo11', 'vencedorJogo12', iconVencedor11, nomeVencedor11)">
            <img src="{{iconVencedor11}}">
            <span>{{nomeVencedor11}}</span>
          </li>
          <li class="list-group-item list-group-item-action padding-null-item" id="vencedorJogo12"
            (click)="vencedorJogo14('vencedorJogo12', 'vencedorJogo11', iconVencedor12, nomeVencedor12)">
            <img src="{{iconVencedor12}}">
            <span>{{nomeVencedor12}}</span>
          </li>
        </ul>
      </article>
    </section>
    <section class="item-d">
      <article class="jogo15">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action padding-null-item" id="vencedorJogo13"
              (click)="vencedorJogo15('vencedorJogo13', 'vencedorJogo14', iconVencedor13, nomeVencedor13)">
            <img src="{{iconVencedor13}}">
            <span>{{nomeVencedor13}}</span>
          </li>
          <li class="list-group-item list-group-item-action padding-null-item" id="vencedorJogo14"
              (click)="vencedorJogo15('vencedorJogo14', 'vencedorJogo13', iconVencedor13, nomeVencedor13)">
            <img src="{{iconVencedor14}}">
            <span>{{nomeVencedor14}}</span>
          </li>
        </ul>
      </article>
    </section>
  </div>
</form>