.navbar {
    background:url(../../../assets/images/WorldCupBackground.png);
    padding-top:13em;
    background-size:57%;
    height:10em;
 }
 
 .wheat {
     color: #E2BF80;
     font-size: 170%;
     /* font-size: 25px; */
 }
 
 .wheat2 {
     color: #E2BF80;
     font-size: 140%;
    }
    
.background{
    background:url(../../../assets/images/WorldCupBackground.png);
 }

 li {
     padding-left: 2em;
 }
