<div>
  <div>
    <app-navbar></app-navbar>
  </div>
  <div style="margin-left: 6%">
  <div style="margin-right: 6%">
  <div style="margin-top: 3%">
  <div style="margin-right: 3%">
    <!-- <app-menu></app-menu> -->

<!--   
  <ul>
    <li *ngFor="let item of itens | async">
      <pre>{{ item | json }}</pre>
      <p>{{item.id}}</p>
    </li>
  </ul>

  <input type="text" class="" name="" id="" [(ngModel)]="text">
  <button type="submit" (click)="salvar()">salvar</button>
 -->






<router-outlet></router-outlet>






    <!-- <div *ngIf="faseGrupo" >
      <h2>Fase de Grupo</h2>
      <app-palpites [nomeGrupo]="'Grupo A'" [pais1]="'Russia'" [pais2]="'ArabiaSaudita'" [pais3]="'Egito'" [pais4]="'Uruguai'"
                    (primeiroColocado)="primeiroA = $event" (segundoColocado)="segundoA = $event"></app-palpites>
      <app-palpites [nomeGrupo]="'Grupo B'" [pais1]="'Portugal'" [pais2]="'Espanha'" [pais3]="'Marrocos'" [pais4]="'Ira'"
                    (primeiroColocado)="primeiroB = $event" (segundoColocado)="segundoB = $event"></app-palpites>
      <app-palpites [nomeGrupo]="'Grupo C'" [pais1]="'Franca'" [pais2]="'Australia'" [pais3]="'Peru'" [pais4]="'Dinamarca'"
                    (primeiroColocado)="primeiroC = $event" (segundoColocado)="segundoC = $event"></app-palpites>
      <app-palpites [nomeGrupo]="'Grupo D'" [pais1]="'Argentina'" [pais2]="'Islandia'" [pais3]="'Croacia'" [pais4]="'Nigeria'"
                    (primeiroColocado)="primeiroD = $event" (segundoColocado)="segundoD = $event"></app-palpites>
      <app-palpites [nomeGrupo]="'Grupo E'" [pais1]="'Brasil'" [pais2]="'Suica'" [pais3]="'CostaRica'" [pais4]="'Servia'"
                    (primeiroColocado)="primeiroE = $event" (segundoColocado)="segundoE = $event"></app-palpites>
      <app-palpites [nomeGrupo]="'Grupo F'" [pais1]="'Alemanha'" [pais2]="'Mexico'" [pais3]="'Suecia'" [pais4]="'CoreiaDoSul'"
                    (primeiroColocado)="primeiroF = $event" (segundoColocado)="segundoF = $event"></app-palpites>
      <app-palpites [nomeGrupo]="'Grupo G'" [pais1]="'Belgica'" [pais2]="'Panama'" [pais3]="'Tunisia'" [pais4]="'Inglaterra'"
                    (primeiroColocado)="primeiroG = $event" (segundoColocado)="segundoG = $event"></app-palpites>
      <app-palpites [nomeGrupo]="'Grupo H'" [pais1]="'Polonia'" [pais2]="'Senegal'" [pais3]="'Colombia'" [pais4]="'Japao'"
                    (primeiroColocado)="primeiroH = $event" (segundoColocado)="segundoH = $event"></app-palpites>
    </div>
    <div *ngIf="!faseGrupo">
      <app-palpites-mata-mata [primeiroA]="primeiroA"  [segundoA]="segundoA" 
                              [primeiroB]="primeiroB"  [segundoB]="segundoB"
                              [primeiroC]="primeiroC"  [segundoC]="segundoC"
                              [primeiroD]="primeiroD"  [segundoD]="segundoD"
                              [primeiroE]="primeiroE"  [segundoE]="segundoE"
                              [primeiroF]="primeiroF"  [segundoF]="segundoF"
                              [primeiroG]="primeiroG"  [segundoG]="segundoG"
                              [primeiroH]="primeiroH"  [segundoH]="segundoH" ></app-palpites-mata-mata>
    </div>
    <button *ngIf="!faseGrupo" type="button" class="btn d-flex" (click)="faseGrupo = !faseGrupo">Voltar</button>
    <button *ngIf="faseGrupo" type="button" class="btn d-flex" (click)="faseGrupo = !faseGrupo">Avançar</button> -->


    <!-- <button *ngIf="!faseGrupo" type="button" class="btn d-flex">Finalizar Palpite</button> -->
  </div>
</div>