<div>
  <div>
    <app-navbar></app-navbar>
  </div>
  <div style="margin-left: 6%">
  <div style="margin-right: 6%">
  <div style="margin-top: 3%">
  <div style="margin-right: 3%">
    <!-- <app-menu></app-menu> -->
    <div *ngIf="faseGrupo" >
      <h2>Fase de Grupo</h2>
      <app-palpites [nomeGrupo]="'Grupo A'" [pais1]="'Russia'" [pais2]="'ArabiaSaudita'" [pais3]="'Egito'" [pais4]="'Uruguai'"
                    (primeiroColocado)="primeiroA = $event" (segundoColocado)="segundoA = $event"></app-palpites>
      <app-palpites [nomeGrupo]="'Grupo B'" [pais1]="'Portugal'" [pais2]="'Espanha'" [pais3]="'Marrocos'" [pais4]="'Ira'"
                    (primeiroColocado)="primeiroB" (segundoColocado)="segundoB"></app-palpites>
      <app-palpites [nomeGrupo]="'Grupo C'" [pais1]="'Franca'" [pais2]="'Australia'" [pais3]="'Peru'" [pais4]="'Dinamarca'"
                    (primeiroColocado)="primeiroC" (segundoColocado)="segundoC"></app-palpites>
      <app-palpites [nomeGrupo]="'Grupo D'" [pais1]="'Argentina'" [pais2]="'Islandia'" [pais3]="'Croacia'" [pais4]="'Nigeria'"
                    (primeiroColocado)="primeiroD" (segundoColocado)="segundoD"></app-palpites>
      <app-palpites [nomeGrupo]="'Grupo E'" [pais1]="'Brasil'" [pais2]="'Suica'" [pais3]="'CostaRica'" [pais4]="'Servia'"
                    (primeiroColocado)="primeiroE" (segundoColocado)="segundoE"></app-palpites>
      <app-palpites [nomeGrupo]="'Grupo F'" [pais1]="'Alemanha'" [pais2]="'Mexico'" [pais3]="'Suecia'" [pais4]="'CoreiaDoSul'"
                    (primeiroColocado)="primeiroF" (segundoColocado)="segundoF"></app-palpites>
      <app-palpites [nomeGrupo]="'Grupo G'" [pais1]="'Belgica'" [pais2]="'Panama'" [pais3]="'Tunisia'" [pais4]="'Inglaterra'"
                    (primeiroColocado)="primeiroG" (segundoColocado)="segundoG"></app-palpites>
      <app-palpites [nomeGrupo]="'Grupo H'" [pais1]="'Polonia'" [pais2]="'Senegal'" [pais3]="'Colombia'" [pais4]="'Japao'"
                    (primeiroColocado)="primeiroH" (segundoColocado)="segundoH"></app-palpites>
    </div>
    <div *ngIf="!faseGrupo">
      <app-palpites-mata-mata [primeiroA]="primeiroA"  [segundoA]="segundoA" 
                              [primeiroB]="primeiroB"  [segundoB]="segundoB"
                              [primeiroC]="primeiroC"  [segundoC]="segundoC"
                              [primeiroD]="primeiroD"  [segundoD]="segundoD"
                              [primeiroE]="primeiroE"  [segundoE]="segundoE"
                              [primeiroF]="primeiroF"  [segundoF]="segundoF"
                              [primeiroG]="primeiroG"  [segundoG]="segundoG"
                              [primeiroH]="primeiroH"  [segundoH]="segundoH" ></app-palpites-mata-mata>
    </div>
    <button *ngIf="!faseGrupo" type="button" class="btn d-flex" (click)="faseGrupo = !faseGrupo">Voltar</button>
    <button *ngIf="faseGrupo" type="button" class="btn d-flex" (click)="faseGrupo = !faseGrupo">Avançar</button>
    <!-- <button *ngIf="!faseGrupo" type="button" class="btn d-flex">Finalizar Palpite</button> -->
  </div>
</div>