/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    background:url(../assets/images/Background.jpg) repeat;
    background-size: 50%;
    height: 100%;
    /* opacity: 0.5; */
}